.title {
  text-align: center;
  margin-top: 50px;
  color: #38a849;
  font-size: 35px;
  font-weight: 700;
}

.text {
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .order1 {
    order: 1;
  }

  .order2 {
    order: 2;
  }
}

.Main {
  margin-top: 100px;
  margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
  .Main {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.logoPhoto {
  display: flex;
  justify-content: center;
}
