.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

// .navbar__logo {
//   //   flex: 1;
//   //   text-align: center;
// }

.navbar__logo a {
  text-decoration: none;
}

.navbar__links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.navbar__links li {
  font-size: 22px;
  margin: 0 1rem;
}

.navbar__links a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}


@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }
  .phone {
    display: none;
  }
  .navbar__links li {
    font-size: 18px;
    margin: 5px;
  }
}

@media screen and (max-width: 320px) {
  .phone {
    display: none;
  }
  .navbar__links li {
    font-size: 12px;
    margin: 8px;
  }
}
